<br>

<table>
    <tr>
        <th>Turn</th>
        <th>Guess</th>
        <th>Score</th>
    </tr>
    <tr>
        <td>1</td>
        <td><%=$table[0]%></td>
        <td>_</td>
    </tr>
    <tr>
        <td>2</td>
        <td><%=$table[1]%></td>
        <td>_</td>
    </tr>
    <tr>
        <td>3</td>
        <td><%=$table[2]%></td>
        <td>_</td>
    </tr>
    <tr>
        <td>4</td>
        <td><%=$table[3]%></td>
        <td>_</td>
    </tr>
    <tr>
        <td>5</td>
        <td><%=$table[4]%></td>
        <td>_</td>
    </tr>
    <tr>
        <td>6</td>
        <td><%=$table[5]%></td>
        <td>_</td>
    </tr>
    <tr>
        <td>7</td>
        <td><%=$table[6]%></td>
        <td>_</td>
    </tr>
    <tr>
        <td>8</td>
        <td><%=$table[7]%></td>
        <td>_</td>
    </tr>
    <tr>
        <td>9</td>
        <td><%=$table[8]%></td>
        <td>_</td>
    </tr>
    <tr>
        <td>10</td>
        <td><%=$table[9]%></td>
        <td>_</td>
    </tr>
    <tr>
        <td>11</td>
        <td><%=$table[10]%></td>
        <td>_</td>
    </tr>
    <tr>
        <td>12</td>
        <td><%=$table[11]%></td>
        <td>_</td>
    </tr>
</table>

<p>Score:<%=@resulta%>:<%=@resultb%></p>
<p>There are <%=$turns_left%> turns left.</p>

<% if $wrong == 1%>
    <p>Wrong input, try again.</p>
<% end %>

<h2>Enter your guess</h2><br>
<form action="/game" method="post">
Guess:<input type="text" name="guess"><br>
<input type="submit" value="guess">
</form>